{% extends "layout.html" %}
{% block body %}
<style>
    #button {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;

    }

    #button a {
        color: white;
    }
</style>
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{url_for('static', filename = '/assets/img/home-bg.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Welcome you're logged in!!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h3 style="text-align: center; ">Manage your posts and change them</h3>
            <br>
            <!-- <div id="button">
                <button class="btn btn-primary"><a href="/edit/0">ADD A NEW POST!</a></button>
                <button class="btn btn-primary"><a href="/logout">LOG OUT</a></button>
            </div> -->
            <br>
            <form action="/uploader" method="post" id="button" enctype="multipart/form-data">
                <input type="file" name="file1" >
                <button type="submit" value="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    {% for post in posts %}
                    <tr>
                        <td>{{post.sno}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.date}}</td>
                        <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary">Edit</button></a></td>
                        <td><a href="/delete/{{post.sno}}"><button class="btn btn-primary">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}