{% extends "layout.html" %}
{% block body %}
<style>
    .post{
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
    }
</style>
<!-- Page Header-->
<header class="masthead" style=" padding-top: 14rem; padding-bottom: 18rem; background-image: url('{{url_for('static', filename = '/assets/img/home-page.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['blog_name']}}</h1>
                    <span class="subheading">Attract Your Tribe</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->

            <!-- fetch using for loop -->
            {% for post in posts %}
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <p class="post-subtitle">{{post.subheading}}</p>
                </a>
                <div class="info">
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on {{post.date}}
                    </p>
                    {{post.content[0:100]}}...
                </div>
            </div>
            <hr>
            {% endfor %}
            
            <!-- Pager-->
            <div class="mb-4 post">
                <a class="btn btn-primary text-uppercase" href="{{prev}}">&larr; Previous Posts</a>
                <a class="btn btn-primary text-uppercase" href="{{next}}">New Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}